<div class="container-fluid foot_wrap">
    <div class="container">
        <div class="row">

            <div class="col-12">
              <ul class="foot_list">
                  <li><a [routerLink]="'aboutus'">About Us</a></li>
                  <li><a [routerLink]="'faqs'">Faq's</a></li>
                  <li><a [routerLink]="'communityguidlines'">Community Guidlines</a></li>
                  <li><a [routerLink]="'termsandconditions'">Terms & Conditions</a></li>
                  <li><a [routerLink]="'privacypolicy'">Privacy policy</a></li>
                  <li><a [routerLink]="'contactus'">Contact Us</a></li>
                  <li><a [routerLink]="'help'">Help</a></li>

              </ul>
             
            </div>

            

        </div>
    </div>
</div>
