<div class="container-fluid appload_cont" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
    <div class="container">

        <div class="row top_row">
            <div class="col-12 mydata">
                <h1 class="site_hdng">
                    <span class="konect_hdng">A New way to konect </span>
                    <span class="celebs_hdng"> Celebrities and Fans </span>
                </h1>
                <button type="button" class="btn-btn-primary sgpbtn">Signup Now</button>
            </div>
           
        </div>
       

        <div class="row bot_row tabg_data">
                <div class="tab_bgr">
                    <img [src]="tabBg" width="100%" alt="tab" title="tab">
                </div>
        </div>

    </div>
</div>

<div class="container-fluid hmpage_btnswrap">
    <div class="container">
        <div class="row cntr_box">


                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <h2 class="dwn_hdng">Download the app</h2>
                       
                        <div class="btn btn-app-store">
                                <i class="fab fa-android fa-2x ibtn"></i>
                            <span class="small">Download on the</span>
                            <span class="big">Play Store</span>
                        </div>

                        <div class="btn btn-app-store">
                            <i class="fab fa-apple fa-2x ibtn"></i>
                            <span class="small">Download on the</span>
                            <span class="big">App Store</span>
                        </div>
                           
                    </div>



                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 add_lftbord">
                        <h2 class="dwn_hdng dwn2">Konect with us</h2>
                        <ul class="sc_wrap">
                            <li class="fb">
                                <span><i class="fab fa-facebook-f"></i> Facebook</span>
                            </li>
                            <li class="lin">
                                <span><i class="fab fa-instagram"></i> Instagram</span>
                            </li>

                            <li class="tw">
                                <span><i class="fab fa-twitter"></i> Instagram</span>
                            </li>
                        </ul>
                    </div>

        </div>
    </div>
</div>



