<div class="container-fluid appload_cont" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
  <div class="container">

    <div class="row top_row">
      <div class="col-12 mydata">
        <h1 class="site_hdng">
          <span class="konect_hdng">A New way to konect </span>
          <span class="celebs_hdng"> Celebrities and Fans </span>
        </h1>
        <button type="button" (click)="showRegPopup()" class="btn-btn-primary sgpbtn">Signup Now</button>
      </div>

    </div>


    <div class="row bot_row tabg_data">
      <div class="tab_bgr">
        <img [src]="tabBg" width="100%" alt="tab" title="tab">
      </div>
    </div>

  </div>
</div>

<div class="container-fluid hmpage_btnswrap">
  <div class="container">
    <div class="row cntr_box">


      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <h2 class="dwn_hdng">Download the app</h2>

        <div class="btn btn-app-store">
          <i class="fab fa-android fa-2x ibtn"></i>
          <span class="small">Download on the</span>
          <span class="big">Play Store</span>
        </div>

        <div class="btn btn-app-store">
          <i class="fab fa-apple fa-2x ibtn"></i>
          <span class="small">Download on the</span>
          <span class="big">App Store</span>
        </div>

      </div>



      <div class="col-12 col-sm-6 col-md-6 col-lg-6 add_lftbord">
        <h2 class="dwn_hdng dwn2">Konect with us</h2>
        <ul class="sc_wrap">
          <li class="fb">
            <!--<span><i class="fab fa-facebook-f"></i> Facebook</span>-->
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=63&layout=button&action=like&size=large&show_faces=false&share=false&height=65&appId"
                    style="border:none;" scrolling="no" frameborder="0" allowTransparency="true" class="fbreq">

            </iframe>
          </li>
          
          <li class="lin">
            <a href="https://www.instagram.com/celebkonect/"><span><i class="fab fa-instagram"></i> Instagram</span></a>
           
          </li>

          <li class="tw">
            <!--<span><i class="fab fa-twitter"></i> Twitter</span>-->
            <a href="https://twitter.com/CelebKonect?ref_src=twsrc%5Etfw%22" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



          </li>
        </ul>
      </div>

    </div>
  </div>
</div>



<!--Rgisteration Setup -->

<div class="register_wrapper" *ngIf="regPopup">
  <h2 class="regi_title">Create your Account</h2>

  <ul class="regtabs">
    <li id="prof" (click)="getRegiTabs('prof', $event)" class="reg_active">
      <i class="far fa-user fa-2x"></i>
      <p>Profile</p>
    </li>

    <li id="inter" (click)="getRegiTabs('inter', $event)">
      <i class="fas fa-sliders-h fa-2x"></i>
      <p>Preferences</p>
    </li>

    <li id="pref" (click)="getRegiTabs('pref', $event)">
      <span class="list_user"><i class="far fa-list-alt fa-2x"></i></span>
      <p>Interests</p>
    </li>

    <li class="list_latchild" id="fin" (click)="getRegiTabs('fin', $event)">
      <span class="list_user"><i class="far fa-flag fa-2x"></i></span>
      <p>Finish</p>
    </li>
    <div class="clearfix"></div>
  </ul>

  <!--tabs over-->

  <div class="prof_setupBox" *ngIf="tab1">
    <h3 class="pi_hdng">Provide your profile Information</h3>

    <form [formGroup]="formProfile" (ngSubmit)="onProfileRegister()">

      <div class="form-group embx embx2">
        <label for="firstname">First Name:</label>
        <div [ngClass]="{'has-error' : !formProfile.controls.firstname.valid && formProfile.controls.firstname.errors && formProfile.controls.firstname.dirty && formProfile.get('firstname').touched,
                                  'text-success': formProfile.controls.firstname.valid && formProfile.controls.firstname.dirty}">
          <input type="text" class="lg_email reg_email" id="firstname" [(ngModel)]="firstname" formControlName="firstname">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['firstname'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="lastname">Last Name:</label>
        <div [ngClass]="{'has-error' : !formProfile.controls.lastname.valid && formProfile.controls.lastname.errors && formProfile.controls.lastname.dirty && formProfile.get('lastname').touched,
                                  'text-success': formProfile.controls.lastname.valid && formProfile.controls.lastname.dirty}">
          <input type="text" class="form-control lg_email reg_email" id="lastname" [(ngModel)]="lastname" formControlName="lastname">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['lastname'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="mobileNumber">Mobile:</label>
        <div [ngClass]="{'text-danger' : !formProfile.controls.mobileNumber.valid && formProfile.controls.mobileNumber.errors && formProfile.controls.mobileNumber.dirty && formProfile.get('mobileNumber').touched,
                                  'text-success': formProfile.controls.mobileNumber.valid && formProfile.controls.mobileNumber.dirty}">
          <input type="number" class="form-control lg_email reg_email" id="mobile" [(ngModel)]="mobileNumber" formControlName="mobileNumber">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['mobileNumber'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="location">Location:</label>
        <div [ngClass]="{'has-error' :!formProfile.controls.location.valid &&  formProfile.controls.location.errors && formProfile.controls.location.dirty && formProfile.get('location').touched,
                                  'text-success': formProfile.controls.location.valid && formProfile.controls.location.dirty}">
          <input type="text" class="form-control lg_email reg_email" id="location" [(ngModel)]="location" formControlName="location">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['location'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="country">Country:</label>
        <div [ngClass]="{'has-error' :!formProfile.controls.country.valid &&  formProfile.controls.country.errors && formProfile.controls.country.dirty && formProfile.get('country').touched,
                                  'text-success': formProfile.controls.country.valid && formProfile.controls.country.dirty}">
          <input type="text" class="form-control lg_email reg_email" id="country" [(ngModel)]="country" formControlName="country" placeholder="ex:IN (Country Code)">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['country'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="profession">Profession:</label>
        <div [ngClass]="{'has-error' : !formProfile.controls.profession.valid && formProfile.controls.profession.errors && formProfile.controls.profession.dirty && formProfile.get('profession').touched,
                                  'text-success': formProfile.controls.profession.valid && formProfile.controls.profession.dirty}">
          <input type="text" class="form-control lg_email reg_email" id="profession" [(ngModel)]="profession" formControlName="profession">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['profession'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <!--<div class="form-group embx embx2">
        <label for="aboutme">About Me:</label>
        <input type="text" class="form-control lg_email reg_email" id="aboutme" [ngModel]="aboutme" formControlName="aboutme" placeholder="About Me">
      </div>-->

      <div class="form-group embx embx2">
        <label for="email">Email:</label>
        <div [ngClass]="{'has-error' :!formProfile.controls.email.valid &&  formProfile.controls.email.errors && formProfile.controls.email.dirty && formProfile.get('email').touched,
                                  'text-success': formProfile.controls.email.valid && formProfile.controls.email.dirty}">
          <input type="email" class="form-control lg_email reg_email" id="email" [(ngModel)]="email" formControlName="email" placeholder="ex : John@indoz.com">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['email'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="password">Password:</label>
        <div [ngClass]="{'has-error' : !formProfile.controls.password.valid && formProfile.controls.password.errors && formProfile.controls.password.dirty && formProfile.get('password').touched,
                                  'text-success': formProfile.controls.password.valid && formProfile.controls.password.dirty}">
          <input type="password" class="form-control lg_email reg_email" id="password" [(ngModel)]="password" formControlName="password" placeholder="**********">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['password'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="confirmPassword">Confirm Password:</label>
        <div [ngClass]="{'has-error' : !formProfile.controls.confirmPassword.valid &&  formProfile.controls.confirmPassword.errors && formProfile.controls.confirmPassword.dirty && formProfile.get('confirmPassword').touched,
                                  'text-success': formProfile.controls.confirmPassword.valid && formProfile.controls.confirmPassword.dirty}">
          <input type="password" class="form-control lg_email reg_email" id="confirmPassword" [(ngModel)]="confirmPassword" formControlName="confirmPassword" placeholder="**********">
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['confirmPassword'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="gender">Gender:</label>
        <div [ngClass]="{'has-error' : !formProfile.controls.gender.valid &&  formProfile.controls.gender.errors && formProfile.controls.gender.dirty && formProfile.get('gender').touched,
                                  'text-success': formProfile.controls.gender.valid && formProfile.controls.gender.dirty}">
          <select class="form-control lg_email reg_email" id="gender" [(ngModel)]="gender" formControlName="gender">

            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
          </select>
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['gender'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <div class="form-group embx embx2">
        <label for="dateOfBirth">Birthday:</label>
        <div [ngClass]="{'has-error' : !formProfile.controls.dateOfBirth.valid &&  formProfile.controls.dateOfBirth.errors && formProfile.controls.dateOfBirth.dirty && formProfile.get('dateOfBirth').touched,
                                  'text-success': formProfile.controls.dateOfBirth.valid && formProfile.controls.dateOfBirth.dirty}">
          <input type="date" class="form-control lg_email reg_email" format='mm-dd-yyyy' [(ngModel)]="dateOfBirth" formControlName="dateOfBirth" id="dateOfBirth" />
          <ul class="hp_blk">
            <li *ngIf="formProfile.controls['dateOfBirth'].hasError('required') && isSubmitted" class="err">This field is Required</li>
          </ul>
        </div>
      </div>

      <!--<div class="form-group embx embx2">
        <label for="profile">Profile Pic:</label>
        <input type="text" class="form-control lg_email reg_email" id="profile" placeholder="ex : mypic.jpeg">
      </div>-->


      <button type="submit" class="btn btn-default lgnbtner rgbtnr">Save & Continue <i class="fas fa-chevron-right"></i> </button>
      <div class="clearfix"></div>

    </form>
  </div>

  <!--profile tab over-->




  <div class="pref_setupBox" *ngIf="tab2">
    <h3 class="pi_hdng">Select your Preferences</h3>

    <form [formGroup]="myPreferenceForm">

      <div *ngIf="isError">
        <p class="err">{{errorMessage}}</p>
      </div>


      <div class="row">
        <div class="col pref_catebox" *ngFor="let item of preferences">

          <button type="button" (click)="onPreferenceListByParentId(item._id)" class="btn btn-default" id="prefSport">{{item.preferenceName}}</button>
          <!--<button type="button" (click)="showPrefCategories('prefMovie', $event)" class="btn btn-default" id="prefMovie">Movies</button>
          <button type="button" (click)="showPrefCategories('prefPolitic', $event)" class="btn btn-default" id="prefPolitic">politics</button>-->
        </div>
      </div>

      <div class="pref_databox" id="allSports">

        <div class="checkbox" *ngFor="let item of preferencesChild">
          <label class="chk_box">
            <input type="checkbox" (change)="onChange(item._id, $event.target.checked)" [checked]="preferenceParentIds.includes(item._id)?'checked':''"> {{item.preferenceName}}<br>
            <!--<input type="checkbox"
            [(ngModel)]="preferenceId" name="preferenceId" [checked]="this.myPreferenceForm.controls.preferenceId.enabled != true?'checked':''"
            multiple>-->
            <span class="checkmark"></span>
          </label>
        </div>

      </div>
      <!--sports category ends-->
      <!--<div class="pref_databox" id="allMovies"  *ngIf="moviestab">

        <div class="checkbox">
          <label class="chk_box">
            Hollywood
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="checkbox">
          <label class="chk_box">
            Bollywood
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="checkbox">
          <label class="chk_box">
            Tollywood
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>

      </div>-->
      <!--Movies category ends-->
      <!--<div class="pref_databox" id="allPolitics"  *ngIf="politicstab">

        <div class="checkbox">
          <label class="chk_box">
            PM
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="checkbox">
          <label class="chk_box">
            CM
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="checkbox">
          <label class="chk_box">
            MLA
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>

      </div>-->
      <!--Politics category ends-->



      <button type="submit" class="btn btn-default lgnbtner rgbtnr" (click)="onAddPreferences()">Save & Continue <i class="fas fa-chevron-right"></i> </button>
      <div class="clearfix"></div>

    </form>
  </div>

  <!--Preferences  tab over-->





  <div class="intrest_setupBox" *ngIf="tab3">
    <h3 class="pi_hdng">Tell us about your Interests</h3>

    <form>
      <ul class="interest_lists" *ngFor="let item of memberInterest">
        <li>
          <div class="pref_img">
            <img src="{{imageUrl+item.celebProfile.avtar_imgPath}}" alt="" width="100%">
          </div>

          <p>{{item.celebProfile.name}}</p>
          <small>{{item.celebProfile.profession}}</small>
        </li>

        <!--<li>
          <div class="pref_img">
              <img src="assets/images/enriq2.jpg" alt="Anudeep" title="Anudeep" width="100%">
          </div>

            <p>Anudeep Dev</p>
            <small>Indian Playback Singer</small>
          </li>

          <li>
              <div class="pref_img">
                  <img src="assets/images/enriq6.jpg" alt="Dhruv" title="Dhruv" width="100%">
              </div>

              <p>Dhruv Pal Godara</p>
              <small>Polo Player</small>
            </li>

            <li>
              <div class="pref_img">
                  <img src="assets/images/enriq7.jpg" alt="Mumaith Khan" title="Mumaith Khan" width="100%">
              </div>

                <p>Mumaith Khan</p>
                <small>Actress</small>
              </li>-->

        <div class="clearfix"></div>
      </ul>
      <button type="submit" class="btn btn-default lgnbtner rgbtnr" (click)="onAddIntrest()">Save & Continue <i class="fas fa-chevron-right"></i> </button>
      <div class="clearfix"></div>
    </form>
  </div>

  <!--Intrestes  tab over-->





  <div class="intrest_setupBox" *ngIf="tab4">
    <h3 class="pi_hdng pi_hdng2">Thank You</h3>
    <p class="thank_data">Experience the wonderfull design of our app. <br />Download from </p>

    <div class="btn btn-app-store">
      <i class="fab fa-android fa-2x ibtn"></i>
      <span class="small">Download on the</span>
      <span class="big">Play Store</span>
    </div>

    <div class="btn btn-app-store">
      <i class="fab fa-apple fa-2x ibtn"></i>
      <span class="small">Download on the</span>
      <span class="big">App Store</span>
    </div><br /><br /><br />

    <button type="submit" class="btn btn-default lgnbtner rgbtnr" (click)="onFinish()">Finish <i class="fas fa-chevron-right"></i> </button>
    <div class="clearfix"></div>

  </div>

  <!--finish  tab over-->


</div>
<div class="regimasker" *ngIf="showMask2" (click)="closeRegiPop()"></div>



