.appload_cont{ padding: 50px 0px; margin-top: 85px; background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

.btns_wrap > button{ padding: 5px 40px;}
.btns_wrap > button > span{ display: inline-block; width: 40px; position: relative; top: 10px;
    left: -20px;
}
.btns_wrap{  display: block; margin: 20px 0 30px 0 ;}
.btns_wrap > button{ border-radius: 36px;}
.btns_wrap > button > small{ display: block; position: relative;}
.and_icntext{ display: block; left: 6px; position: relative;}
.ios_icntext{ display: block; left: 3px; position: relative;}
.drid{ max-height:60px; display: block; float: left; position: relative; left: -10px;
top: 5px;
}
.btnicons_det{ display: inline-block; margin: 0px; padding: 0px;}
.big_fnt{  font-weight:600;}
.and_btn{ background-color: #259dd0; border-color: #259dd0; color: #fff;}
.and_btn:hover{ background-color: #fff; border-color: #2c2c2c; color: #2c2c2c;}

.site_title{ font-size: 20px; font-weight:600; padding: 20px 30px 20px 0px; color: #2c2c2c; 
    font-family: 'Berkshire Swash', cursive;
 }
.site_desc{ font-size: 18px; color: #2c2c2c; line-height: 30px; font-weight:400; 
    display: block; margin: 0px 0px;  padding: 0px 0px 20px 0px;
}
/* .brd{ max-width: 70%; display: block; margin: 0px 0px;} */
.celeb_appmobs > img{ max-width: 480px;}
.ql_hdng2{ font-size: 20px; font-weight: 600; color: #2c2c2c; padding: 20px 0px;}
.sc_wrap{ margin: 0px 0px; display: block;}
.fb,.tw,.lin{ padding: 10px 10px; width: 120px;}
.fb span,.tw span,.lin span{ display: block;}
.fb{ border-color: #4267b2; color:#4267b2;}
.tw{ border-color: #1da1f2; color:#1da1f2;}
.lin{ border-color: #e4405f; color:#e4405f;}
.fb:hover{ background-color: #4267b2; color:#fff;}
.tw:hover{ background-color: #1da1f2; color:#fff;}
.lin:hover{ background-color: #e4405f; color:#fff;}

/*buttons*/
.btn-app-store{
    background: black;
	color: white;
	position: relative;
	height: 60px;
	padding-left: 40px;
	padding-right: 50px;
}
.btn-app-store i{
	font-size: 40px;
	position: absolute;
	left: 10px;
}
.btn-app-store .small{
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 2px;
    margin-top: 5px;
    text-align: left;
}
.btn-app-store .big{
	display: block;
	text-align: left;
	font-size: 18px;
	line-height: 18px;
}
.app_btn{ display: inline-block;}


.regi_btn{ -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; padding: 13px 50px; background-color: #1da1f2;
    border:none; color: #fff; font-weight: 600; text-transform: uppercase;
}
.regi_btn:hover{ background-color: #000; color: #fff; border: none;}
.android_icn{ width: 50px; height: 50px; background-color: #2c2c2c; display: inline-block; 
    -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%;
    margin-right: 5px; color: #fff; text-align: center; vertical-align: middle;
    display: table-cell;
}