<div class="container-fluid profpage" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
  <div class="container">
   
    
  </div>
</div>

<!--video container ends-->



<div class="container-fluid inner_pages_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <ul class="lftnav_wrap">
          <li class="prof_active"><a (click)="profilePage()"><i class="far fa-user-circle"></i> My Profile</a></li>
          <li><a (click)="celebPage()"><i class="far fa-star"></i> My Celebrities</a></li>
          <li><a (click)="transactionPage()"><i class="far fa-money-bill-alt"></i> My Transactions</a></li>
        </ul>

        <div [ngClass]="messageClass">{{message}}</div>
        <button type="button" id="bcbtn" class="btn btn-default bc_btn" (click)="createCelebRequest(profile._id)">Become a Celebrity</button>
      </div>
      <!--left side nav ends-->

      <div class="col-12 col-sm-9 col-md-9 col-lg-9">
        <div class="cvrwrap">
            <div class="profile_wrapper">
              <img src="assets/images/coverpage.jpg" class="c_page" width="100%" alt="coverpage" title="coverpage">
              <ul class="title_mask">
                <li>
                  <span class="big">500</span>
                  <small>Followers</small>
                </li>

                <li>
                  <span class="big">200</span>
                  <small>Following</small>
                </li>

                <li>
                  <span class="big">53</span>
                  <small>Posts</small>
                </li>
              </ul>

              <div class="profile_manager">
                <!--<div class="profile_box">
                <img src="{{imageUrl+profile.avtar_imgPath}}" class="act_bg" width="100%" alt="{{profile.name}}" title="{{profile.name}}">
                </div>-->

                <div class="image-upload">
                    <!--<form [formGroup]="formProfile" enctype="multipart/form-data" method="post" name="fileinfo">-->
                    <label for="selectFile" style="width:150px;">
                      <img src="{{imageUrl+profile.avtar_imgPath}}" style="width:150px;"/>
                      <img *ngIf="profile.avtar_imgPath==''"  src="assets/images/profile_pic.jpg" width="100%" alt="{{profile.name}}" title="{{profile.name}}" />
                    </label>
                    <input type="file" id="selectFile" (change)="readURL($event)" name="selectFile" class="form-group" />

                    <!--<input type="file" id="file-input" (change)="readURL($event)" />-->
                    <!--</form>-->
                  </div>

                  <p class="profile_edit" (click)="openPform(profile._id)"><i class="fas fa-pencil-alt"></i> Edit</p>
              </div>
            </div>
        </div>


        <div class="profile_info">
          <ul>
            <li>
              <span>Name</span>
              <p>{{profile.name}}</p>
          </li>
          <li>
              <span>Occupation</span>
              <p>{{profile.profession}} </p>
          </li>
          <li>
              <span>Country</span>
              <p>{{profile.country}}</p>
          </li>
          <!--<li>
              <button type="button" class="btn btn-default flw_btn">Follow</button>
          </li>-->
          <div class="clearfix"></div>
          </ul>
        </div>


        <!-- profile update form here-->

        <div>


        </div>
        <div class="col-12 update_profileform" *ngIf="pform" id="pf">

          <form [formGroup]="profileForm" (ngSubmit)="onUpdateProfile(profile)">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">First Name</label>


                <input type="text" [(ngModel)]="profile.name" class="form-control lg_email reg_email" id="profile.name" placeholder="First Name" formControlName="profile.name">
              </div>

              <div class="form-group col-md-6">
                <label for="lastname">Last Name</label>
                <input type="text" [(ngModel)]="profile.lastName" class="form-control lg_email reg_email" id="profile.lastName" placeholder="Last Name" formControlName="profile.lastName">
              </div>

              <div class="form-group col-md-6">
                <label for="mobileNumber">Phone</label>
                <input type="number" [(ngModel)]="profile.mobileNumber" class="form-control lg_email reg_email" id="profile.mobileNumber" placeholder="Mobile Number" formControlName="profile.mobileNumber">
              </div>

              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="profile.email" class="form-control lg_email reg_email" id="email" placeholder="profile.email" formControlName="profile.email">
              </div>


            </div>



            <div class="form-row">

              <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <select id="profile.gender" [(ngModel)]="profile.gender" class="form-control lg_email reg_email" formControlName="profile.gender">

                  <option value="Male" selected>Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="dateOfBirth">Date of Birth</label>
                <input type="date" [(ngModel)]="profile.dateOfBirth" class="form-control lg_email reg_email date_field" id="profile.dateOfBirth" formControlName="profile.dateOfBirth" />
              </div>

              <div class="form-group col-md-6">
                <label for="location">Location</label>
                <input type="text" [(ngModel)]="profile.location" class="form-control lg_email reg_email" id="profile.location" placeholder="Location" formControlName="profile.location">
              </div>


              <div class="form-group col-md-6">
                <label for="about">About</label>
                <input type="text" [(ngModel)]="profile.aboutMe" class="form-control  lg_email reg_email" id="profile.aboutMe" placeholder="About Me" formControlName="profile.aboutMe">
                <div class="clearfix"></div>
              </div>

            </div>

           

            <div *ngIf="isValid">
              <p class="error_mes">{{successMessage}}</p>
            </div>

            <button type="submit" class="btn btn-primary">Update Profile </button>
            <button type="button" class="btn btn-primary" (click)="closePform()">Close </button>

          </form>

        </div>
        <!--profile update form ends here-->



        <!--tabs for profile feeds starts-->
        <div class="profile_tabs">
            <ul class="tabs_header">
              <li id="infoT" (click)="showProfileTabs('infoT', $event)" class="ptab_active">
                <i class="fas fa-info-circle fa-2x mytabicn"></i> Info
              </li>
              <li id="feedT" (click)="showProfileTabs('feedT', $event)">
                <i class="fas fa-newspaper fa-2x mytabicn"></i> Feeds
              </li>
              <li id="mediaT" (click)="showProfileTabs('mediaT', $event)">
                <i class="far fa-images fa-2x mytabicn"></i> Media
              </li>
              <div class="clearfix"></div>
            </ul>

           
        </div>

         <!-- tabs data here-->
         <div class="prof_infodata" *ngIf="infoTab">

            <div class="row mb-3">
              <div class="col">
                <h3>About Me</h3>
                <p>{{profile.aboutMe}}</p>
              </div>
  
              <div class="col">
                <h3>Date Of Birth</h3>
                <p>{{profile.dateOfBirth}}</p>
              </div>
  
              <div class="col">
                <h3>Email</h3>
                <p>{{profile.email}}</p>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col">
                <h3>Gender</h3>
                <p>{{profile.gender}}</p>
              </div>
              <div class="col">
                <h3>Mobile Number</h3>
                <p>{{profile.mobileNumber}}</p>
              </div>
              <div class="col">
                <h3>Location</h3>
                <p>{{profile.location}}</p>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col">
                <h3>Name</h3>
                <p>{{profile.name}} {{profile.lastName}}</p>
              </div>
              <div class="col">
                <h3>Profession</h3>
                <p>{{profile.profession}}</p>
              </div>
              <div class="col">
                <h3>Role</h3>
                <p>{{profile.role}}</p>
              </div>
            </div>
  
          </div>





          <div *ngIf="feedsTab">
              <div class="row prof_feedsdata" *ngFor="let feedList of feedDetails; let i = index">
                <div class="col">
                  <div class="card cardspace">
                    <div class="card-block">
                      <div class="pl-3">
                        <div class="row">
                          

                            <div class="col-12 col-sm-2 col-md-2">
                              <span>
                                  <a class="avatar-sm" href="javascript:;">
                                      <img class="img-fluid rounded-circle" src="{{imageUrl+feedList.profilePicPath}}" />
                                    </a>
                              </span>
                            </div>

                            <div class="col-12 col-sm-10 col-md-10">
                                <h3>{{feedList.memberName}}</h3>
                               
                            </div>
                            
                            
                          
                        </div>
                      </div>
                      
                    </div>

                    <h4 class="card-title">
                        {{feedList.title}}
                    </h4>
                      <p class="card-text">
                        {{feedList.content}}
                      </p>

                    <img *ngIf="feedList.mediaSrc!=''" class="card-img-bottom img-fluid space_imng" src="{{imageUrl+feedList.mediaSrc}}" alt="Card image cap"  />
                    <div *ngFor="let imgList of feedList.mediaArray">
                      <img class="card-img-bottom img-fluid space_imng" src="{{imageUrl+imgList.mediaUrl}}" alt="Card image cap" />
                    </div>
                    <div style="margin-left: 6px;" class="row" >
                      <div class="col">
                          <i class="fas fa-eye fa-2x"></i> &nbsp; 50
                      </div>
                      <div class="col" >
                          <i class="far fa-heart fa-2x"></i> &nbsp; 100
                      </div>
                      <div class="col" >
                          <i class="fas fa-download fa-2x"></i> &nbsp; 10
                      </div>
                      <div class="col" >
                          <i class="fas fa-share-alt fa-2x"></i> &nbsp; 15
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>




          <div class="row" *ngIf="mediaTab" id="mymedias">
            <div class="col-12">
              <div class="row">
              <div class="col-12 col-sm-4 com-md-4 mybgspacer" *ngFor="let feedList of feedDetails; let i = index">
                <figure class="media_bg">
                  <div *ngFor="let imgList of feedList.mediaArray" > 
                    <img class="img-fluid" src="{{imageUrl+imgList.mediaUrl}}" width="100%" alt="Card image cap"  />
                 </div>
                  <img *ngIf="feedList.mediaSrc!=''" src="{{imageUrl+feedList.mediaSrc}}"  width="100%" alt="Card image cap" class="img-fluid" />
  
                  <!--<figcaption>
                    <h6 class="media-title fw-300">{{ id }}</h6>
                    <small class="media-subtitle">Tile image {{ id }}</small>
                  </figcaption>-->
                </figure>
              </div>
              
            </div>
            </div>


          

      </div>
      <!--mid Cont ends-->

      


      

    </div>
  </div>
</div>
