<div class="container-fluid profpage" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
  <div class="container">
   
    
  </div>
</div>

<!--video container ends-->



<div class="container-fluid inner_pages_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <ul class="lftnav_wrap">
          <li class="prof_active"><a (click)="profilePage()"><i class="far fa-user-circle"></i> My Profile</a></li>
          <li><a><i class="far fa-star"></i> My Celebrities</a></li>
          <li><a><i class="far fa-money-bill-alt"></i> My Transactions</a></li>
        </ul>
        
        <button type="button" class="btn btn-default bc_btn">Become a Celebrity</button>
      </div>
      <!--left side nav ends-->

      <div class="col-12 col-sm-9 col-md-9 col-lg-9">
        <div class="cvrwrap">
            <div class="profile_wrapper">
              <img src="assets/images/coverpage.jpg" class="c_page" width="100%" alt="coverpage" title="coverpage">
              <ul class="title_mask">
                <li>
                  <span class="big">500</span>
                  <small>Followers</small>
                </li>

                <li>
                  <span class="big">200</span>
                  <small>Following</small>
                </li>

                <li>
                  <span class="big">53</span>
                  <small>Posts</small>
                </li>
              </ul>

              <div class="profile_manager">
                <div class="profile_box"><img src="assets/images/enriq1.jpg" class="act_bg" width="100%" alt="Lipsika" title="Lipsika"></div>
                  <p class="profile_edit"><i class="fas fa-pencil-alt"></i> Edit</p>
              </div>
            </div>
        </div>
          

      </div>
      <!--mid Cont ends-->


      

    </div>
  </div>
</div>