<div class="container-fluid profpage" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
  <div class="container">
   
    
  </div>
</div>

<!--video container ends-->



<div class="container-fluid inner_pages_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <ul class="lftnav_wrap">
          <li><a (click)="profilePage()"><i class="far fa-user-circle"></i> My Profile</a></li>
          <li><a (click)="celebPage()"><i class="far fa-star"></i> My Celebrities</a></li>
          <li class="prof_active"><a (click)="transactionPage()"><i class="far fa-money-bill-alt"></i> My Transactions</a></li>
        </ul>
        
   
      </div>
      <!--left side nav ends-->

      <div class="col-12 col-sm-9 col-md-9 col-lg-9">
          <button type="button" class="btn btn-default addcred_btn">Add Credits</button>
          <div class="clearfix"></div>

          <div class="table-responsive"> 
              <table class="table table-bordered">
                  <thead>
                      <tr class="tb_hdr">
                          <th>ID</th>
                          <th>Activity Id</th>
                          <th>Transaction Date Time</th>
                          <th>Transaction Type</th>
                          <th>Credit Status</th>
                          <th>Debit Status</th>
                          <th>Transaction Status</th>
                      </tr>
                  </thead>
                  <tbody class="tbdy_clr">
                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>
                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>
                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>

                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>
                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>
                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>
                  </tbody>
              </table>
          </div>

      </div>
      <!--mid Cont ends-->

      


      

    </div>
  </div>
</div>