<div class="container-fluid profpage" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
  <div class="container">
   
    
  </div>
</div>

<!--video container ends-->



<div class="container-fluid inner_pages_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <ul class="lftnav_wrap">
          <li><a (click)="profilePage()"><i class="far fa-user-circle"></i> My Profile</a></li>
          <li><a (click)="celebPage()"><i class="far fa-star"></i> My Celebrities</a></li>
          <li class="prof_active"><a (click)="transactionPage()"><i class="far fa-money-bill-alt"></i> My Transactions</a></li>
        </ul>
        
   
      </div>
      <!--left side nav ends-->

      <div class="col-12 col-sm-9 col-md-9 col-lg-9">

        <div class="row">
            <div class="col-12">
                    <div class="row">
                            <div class="col-12">
                  
                              <div class="cvrwrap">
                                  <div class="profile_wrapper">
                                    <img src="assets/images/coverpage.jpg" class="c_page" width="100%" alt="coverpage" title="coverpage">
                                    <ul class="title_mask">
                                      <li>
                                        <span class="big">500</span>
                                        <small>Followers</small>
                                      </li>
                      
                                      <li>
                                        <span class="big">200</span>
                                        <small>Following</small>
                                      </li>
                      
                                      <li>
                                        <span class="big">53</span>
                                        <small>Posts</small>
                                      </li>
                                    </ul>
                      
                                    <div class="profile_manager">
                                      <div class="profile_box"><img src="{{imageUrl+profile.avtar_imgPath}}" class="act_bg" width="100%" alt="{{profile.name}}" title="{{profile.name}}"></div>
                                        <p class="profile_edit"><i class="fas fa-pencil-alt"></i> Edit</p>
                                    </div>
                                  </div>
                              </div>
                      
                      
                              <div class="profile_info">
                                <ul>
                                  <li>
                                    <span>Name</span>
                                    <p>{{profile.name}}</p>
                                </li>
                                <li>
                                    <span>Occupation</span>
                                    <p>{{profile.profession}} </p>
                                </li>
                                <li>
                                    <span>Country</span>
                                    <p>{{profile.country}}</p>
                                </li>
                                <!--<li>
                                    <button type="button" class="btn btn-default flw_btn">Follow</button>
                                </li>-->
                                <div class="clearfix"></div>
                                </ul>
                              </div>
                  
                            </div>
                          </div>
            </div>
        </div>

        <div class="row"  id="celebs_list">
            <div class="col-12">
          <button type="button" class="btn btn-default addcred_btn ">Add Credits</button>
          <div class="clearfix"></div>

          <div class="table-responsive"> 
              <table class="table table-bordered">
                  <thead>
                      <tr class="tb_hdr">
                          <th>ID</th>
                          <th>Member Id</th>
                          <th>Financial Type</th>
                          <th>Updated At</th>
                          <th>Created At</th>
                          <th>Payment Gateway Response</th>
                          <th>Transaction RefNumber</th>
                          <th>Transaction AuthCode</th>
                          <th>Transaction Value</th>
                          <th>Transaction Mode</th>
                          <th>Financial Status</th>
                      </tr>
                  </thead>
                  <tbody class="tbdy_clr">
                    <tr *ngFor="let t of transactions">
                      <td>{{t._id}}</td>
                      <td>{{t.memberId}}</td>
                      <td>{{t.financialType}}</td>
                      <td>{{t.updated_at}}</td>
                      <td>{{t.created_at}}</td>
                      <td>{{t.paymentgatewayResponse}}</td>
                      <td>{{t.transactionRefNumber}}</td>
                      <td>{{t.transactionAuthCode}}</td>
                      <td>{{t.transactionValue}}</td>
                      <td>{{t.transactionMode}}</td>
                      <td>{{t.financialStatus}}</td>
                    </tr>
                      <!--<tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>
                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>

                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>
                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>
                      <tr>
                          <td>001</td>
                          <td>ACT02</td>
                          <td>01-02-2018</td>
                          <td>Credit</td>
                          <td>Approved</td>
                          <td>N / A</td>
                          <td>Completed</td>
                      </tr>-->
                  </tbody>
              </table>
          </div>
        </div>
        </div>

      </div>
      <!--mid Cont ends-->

      


      

    </div>
  </div>
</div>
