<div class="menu_bar">
        <div class="celeb_logo">
          <a href=""><img [src]="logoBg" alt="CelebKonect Logo" title="CeleKonect Logo" width="100%"></a>
        </div>
          <ul class="cbk_menu">
            <li class="lgn_btn" (click)="ShowMyPopup()"><a >Login</a></li>
          </ul>

          <!-- <ul class="cbk_menu" *ngIf="showHomeMenu">
              <li><a [routerLink]="'home'">Home</a></li>
              <li><a [routerLink]="'profile'">Profile</a></li>
              <li><a [routerLink]="'celebrities'">Celebrities</a></li>
              <li><a [routerLink]="'credits'">Credits</a></li>
              <li (click)="showOnlyLoginmenu()"><a [routerLink]="'javscript:void'">Logout</a></li>
          </ul> -->
          <div style="clear:both;"></div>
</div>


<!--login popup-->
<div class="loginpop_mask"  *ngIf="showPopup" (click)="closePopup()"></div>
<div class="loing_popup" *ngIf="showPopup">
    <div class="pop_left" [style.background-image]="'url(\'assets/images/handmobile.jpg\')'">
        
    </div>

    <div class="pop_right">
                <h3 class="lgn_hdng">Login to your account</h3>
            <form [formGroup]="loginForm" (submit)="onLoginSubmit()">
                <div class="form-group embx embx2">
                  <label for="email">Email:</label>
                  <!-- <span class="usicn"><i class="fas fa-user"></i></span> -->
                  <div [ngClass]="{'has-error' : loginForm.controls.email.errors && loginForm.controls.email.dirty,
                                  'has-success': loginForm.controls.email.valid && loginForm.controls.email.dirty}">
                    <input type="email" class="form-control lg_email" id="email" placeholder="ex : John@indoz.com" formControlName="email">
                    
                    <ul class="hp_blk">
                      <li *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.dirty">This field is Required</li>
                    </ul>
                  </div>
                  
                </div>
                <div class="form-group embx">
                  <label for="password">Password:</label>
                  <!-- <span class="usicn"><i class="fas fa-key"></i></span> -->
                  <input type="password" class="form-control lg_email" id="password" placeholder="**********" formControlName="password">
                </div>
                
                <div class="checkbox">
                    <label class="chk_box">Remember me
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                  <button type="submit" class="btn btn-default lgnbtner">Login </button>
                </div>
                
              </form>

              <div class="fgp">Don't you have an account ? <span class="signup_hdng">Signup</span></div>
    </div>
</div>
