<div class="menu_bar">
        <div class="celeb_logo">
          <a href=""><img [src]="logoBg" alt="CelebKonect Logo" title="CeleKonect Logo" width="100%"></a>
        </div>
          <ul class="cbk_menu">
            <li> <a [routerLink]="'login'">Signin / Signup</a></li>
          </ul>

          <!-- <ul class="cbk_menu" *ngIf="showHomeMenu">
              <li><a [routerLink]="'home'">Home</a></li>
              <li><a [routerLink]="'profile'">Profile</a></li>
              <li><a [routerLink]="'celebrities'">Celebrities</a></li>
              <li><a [routerLink]="'credits'">Credits</a></li>
              <li (click)="showOnlyLoginmenu()"><a [routerLink]="'javscript:void'">Logout</a></li>
          </ul> -->
          <div style="clear:both;"></div>
</div>